body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    flex-direction: column;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 100%; /* Ubah agar sesuai dengan layar */
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease;
    width: 100%;
    height: 100%; /* Ubah agar sesuai dengan layar */
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pastikan gambar memenuhi elemen dan menjaga rasio aspek */
    border-radius: 15px; /* Tambahkan lengkungan pada sisi foto */
}

#playButton {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
